body {
    margin: auto;
    padding: 0 auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0 auto;
}

header .headerBox1 {
    margin: auto;
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .headerBox1 div {
    flex-basis: 30%;
    padding: 5px;
}

.headerBox1_icon ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    background-color: white;
    border-radius: 20px;
}

.headerBox1_icon ul li a {
    text-decoration: none;
}

.instagramme {
    position: relative;
    left: 3%;
}

.youtube {
    position: relative;
    left: 5%;
}

.headerBox1_titre {
    text-align: center;
}

.headerBox1_titre h1 {
    color: white;
}

.headerBox1_icon_recherche p {
    text-align: right;
    padding-right: 20px;
}

.headerBox1_icon_recherche p a {
    text-decoration: none;
}

header .headerBox2 {
    text-align: center;
    padding: 2px;

}

header .headerBox2 ul {
    text-align: center;
    list-style-type: none;
}

header .headerBox2 ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

header .headerBox2 ul li a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    transition: ease-in-out all 0.5s;
}

header .headerBox2 ul li a:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.open_menu {
    cursor: pointer;
    padding: 20px;
    transition: ease 0.5s;
    display: none;
}

.close_menu_js_effet {
    display: none;
    transition: 0.5s;
}

nav {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    background-color: red;
    z-index: 1;
    transition: ease-in-out 0.5s;
}

.navbarr_Js {
    left: 0px;
    transition: ease-in-out 0.5s;
}

nav ul {
    padding-top: 40px;
    position: relative;
    right: 25px;
}

nav ul li {
    list-style-type: none;
    padding-top: 30px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: ease 0.5s;
}

nav ul li a:hover {
    font-weight: bold;
    transition: ease 0.5s;
}

.close_menu {
    cursor: pointer;
    float: right;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 30px;
    transition: ease 0.5s;
}

.close_menu:hover {
    font-size: 35px;
    transition: ease 0.5s;
}

/*********************************************************************************************************/
main {
    margin: auto;
    padding: 0 auto;
    background-color: gray;
}

.splide__slide {
    padding: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.splide__slide div {
    flex-basis: 47%;
    height: 500px;
}

.main_avatar {
    text-align: center;
}

.main_avatar img {
    width: 100%;
    height: 100%;
}

.main_contenu {
    padding: 0 auto;
}

.main_contenu h2 {
    color: white;
    font-size: 42px;
    padding-top: 80px;
}

.bandana {
    color: red;
}

.main_contenu p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 180px;
}

.barre {
    color: red;
    padding-left: 10px;
    position: relative;
    bottom: 7px;
}

section {
    /* border: 1px solid gray;*/
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
}

section h3 {
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
}

.sectionBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.sectionBox div {
    flex-basis: 33%;
}

.sectionBox_child {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sectionBox_child div {
    flex-basis: 42%;
    box-sizing: content-box;
}

.sectionBox_child_fondRed {
    background-color: red;
    padding: 8px;
}

.sectionBox_child_fondBlack {
    background-color: rgb(32, 30, 30);
    padding: 8px;
    margin-bottom: 0px;
}

.sectionBox_child div img {
    width: 100%;
    height: 100%;
}

.sectionBox_child div p {
    color: white;
    font-style: oblique;
    font-weight: bold;
}
/*******************************************************/
article{
    margin: 0 auto;
    margin-top: 100px;
    width: 92%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
article div{
    flex-basis: 33%;
}
.articleBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.articleBox div{
    flex-basis: 100%;
    padding: 10px;
}
.articleBoxchils1{
    background-image: url("album/africaine.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.articleBoxchils2{
    background-image: url("album/femme.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.articleBoxchils3{
    background-image: url("album/images.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.articleBox div p{
    color: white;
    padding-top: 150px;
    width: 50%;
}
.articleBox div h5{
    text-transform: uppercase;
    font-size: 17px;
    color: white;
}
.texteDecor{
    background-color: red;
    padding: 5px;
}
.articleBox div ul{
    list-style-type: none;
    position: relative;
    right: 50px;
}
.articleBox div ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}
.articleBox div ul li a{
    text-decoration: none;
    
}












@media screen and (max-width:1100px) {
    .sectionBox div {
        flex-basis: 46%;
    }
}

@media screen and (max-width:755px) {
    header .headerBox1 div {
        flex-basis: 100%;
    }

    

    .headerBox1_icon_recherche {
        display: none;
    }

    .open_menu {
        display: block;
    }

    .headerBox2 {
        display: none;
    }

    .splide__slide div {
        flex-basis: 100%;
    }

    .main_contenu {
        padding: 50px;
    }

    .main_contenu h2 {
        color: white;
        font-size: 42px;
        padding-top: 0px;
    }

    .main_contenu p {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 50px;
    }

    .sectionBox div {
        flex-basis: 95%;
        margin: auto;
        margin-top: 70px;
    }

    .sectionBox_child div {
        flex-basis: 100%;
        margin: auto;

    }

    .sectionBox_child div img {
        height: 250px;
    }

    .sectionBox_child_fondBlack {
        position: relative;
        bottom: 5px;
    }
    article div{
        flex-basis:100%;
    }
}

@media screen and (max-width:500px) {
    header .headerBox1 div {
        flex-basis: 100%;
    }

    .instagramme {
        position: relative;
        left: 0%;
    }

    .youtube {
        position: relative;
        left: 0%;
    }


}