body {
    margin: auto;
    padding: 0 auto;
    background-color: white;
    color: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0 auto;
}

header .headerBox1 {
    margin: auto;
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .headerBox1 div {
    flex-basis: 30%;
    padding: 5px;
}

.headerBox1_icon ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    background-color: white;
    border-radius: 20px;
}

.headerBox1_icon ul li a {
    text-decoration: none;
}

.instagramme {
    position: relative;
    left: 3%;
}

.youtube {
    position: relative;
    left: 5%;
}

.headerBox1_titre {
    text-align: center;
}

.headerBox1_titre h1 {
    color: white;
}

.headerBox1_icon_recherche p {
    text-align: right;
    padding-right: 20px;
}

.headerBox1_icon_recherche p a {
    text-decoration: none;
}

header .headerBox2 {
    text-align: center;
    padding: 2px;

}

header .headerBox2 ul {
    text-align: center;
    list-style-type: none;
}

header .headerBox2 ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

header .headerBox2 ul li a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    transition: ease-in-out all 0.5s;
}

header .headerBox2 ul li a:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.open_menu {
    cursor: pointer;
    padding: 20px;
    transition: ease 0.5s;
    display: none;
}

.close_menu_js_effet {
    display: none;
    transition: 0.5s;
}

nav {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    background-color: red;
    z-index: 1;
    transition: ease-in-out 0.5s;
}

.navbarr_Js {
    left: 0px;
    transition: ease-in-out 0.5s;
}

nav ul {
    padding-top: 40px;
    position: relative;
    right: 25px;
}

nav ul li {
    list-style-type: none;
    padding-top: 30px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: ease 0.5s;
}

nav ul li a:hover {
    font-weight: bold;
    transition: ease 0.5s;
}

.close_menu {
    cursor: pointer;
    float: right;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 30px;
    transition: ease 0.5s;
}

.close_menu:hover {
    font-size: 35px;
    transition: ease 0.5s;
}

/*********************************************************************************************************/
main {
    margin: auto;
    padding: 0 auto;
    background-color: gray;
}

.splide__slide {
    padding: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.splide__slide div {
    flex-basis: 47%;

}

.main_avatar {
    text-align: center;
}

.main_avatar img {
    width: 100%;
    height: 100%;
}

.main_contenu {
    padding: 0 auto;
}

.main_contenu h2 {
    color: white;
    font-size: 42px;
    padding-top: 80px;
}

.bandana {
    color: red;
}

.main_contenu p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 180px;
}

.barre {
    color: red;
    padding-left: 10px;
    position: relative;
    bottom: 7px;
}

section {
    /* border: 1px solid gray;*/
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
}

section h3 {
    font-weight: bold;
    font-size: 30px;
}

.sectionBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.sectionBox div {
    flex-basis: 33%;
}

.sectionBox_child {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sectionBox_child div {
    flex-basis: 42%;
    box-sizing: content-box;
}

.sectionBox_child_fondRed {
    background-color: red;
    padding: 8px;
}

.sectionBox_child_fondBlack {
    background-color: rgb(36, 35, 35);
    padding: 8px;
    margin-bottom: 0px;
}

.sectionBox_child div img {
    width: 100%;
    height: 100%;
}

.sectionBox_child div p {
    width: 80%;
    color: white;
    font-style: oblique;

}

/*******************************************************/
article {
    margin: 0 auto;
    margin-top: 100px;
    width: 92%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article div {
    flex-basis: 33%;
}

.articleBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articleBox div {
    flex-basis: 100%;
    padding: 10px;
}

.articleBoxchils1 {
    background-image: url("album/africaine.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.articleBoxchils2 {
    background-image: url("album/femme.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.articleBoxchils3 {
    background-image: url("album/images.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.articleBox div p {
    color: white;
    padding-top: 150px;
    width: 40%;
}

.articleBox div h5 {
    text-transform: uppercase;
    font-size: 17px;
    color: white;
}

.texteDecor {
    background-color: red;
    padding: 5px;
}

.articleBox div ul {
    list-style-type: none;
    position: relative;
    right: 50px;
}

.articleBox div ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}

.articleBox div ul li a {
    text-decoration: none;

}

/*****************************************************videoTendance*********************/
.videoTendance {
    margin: auto;
    width: 95%;
}

.videoTendance h3 {
    font-size: 30px;
}

.videoTendanceBox {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.videoTendanceBox div {
    box-sizing: content-box;
    overflow: hidden;
    word-wrap: break-word;
}

.videoTendanceBox1 {
    background-color: red;
    flex-basis: 52%;
    padding: 10px;
}

.videoTendanceBox1 {
    text-align: center;
}

.videoTendanceBox1 video {
    width: 100%;
}

.videoTendanceBox1 p {
    text-align: left;
    color: white;
    font-style: oblique;
    font-weight: bold;
}

.videoTendanceBox2 {
    background-color: rgb(36, 35, 35);
    flex-basis: 40%;
    padding: 10px;
}

.videoTendanceBox2_contenaire {
    display: flex;
    justify-content: center;
}

.videoTendanceBox2_contenaire div {
    flex-basis: 50%;
    box-sizing: content-box;
    overflow: hidden;
}

.videoTendanceBox2_contenaire div video {
    width: 90%;
    height: 100%;
}

.videoTendanceBox2_contenaire div h6 {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.videoTendanceBox2_contenaire div p {
    color: white;
    font-style: oblique;
    font-size: medium;
}

/****************************************************celebrités****************************************/
.celebrite {
    margin: 0 auto;
    width: 95%;
    color: black;
}

.celebrite h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.celebrite_contenaire1 {
    margin: 0 auto;
    width: 94%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.celebrite_contenaire1 div {
    box-sizing: content-box;
    overflow: hidden;
    word-wrap: break-word;
}

.celebrite_contenaire1 div img {
    width: 100%;
    height: 450px;
}

.celebrite_contenaire1_Box1 {
    flex-basis: 65%;
}

.celebrite_contenaire1_Box2 {
    flex-basis: 30%;
    text-align: center;
}

.celebrite_contenaire1_Box2 h5 {
    color: red;
    text-transform: uppercase;
}

/*************************************************************************/
.autreCelebrite {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.autreCelebrite div {
    flex-basis: 18%;
    box-sizing: content-box;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
}

.autreCelebrite div p {

    width: 90%;
    text-align: center;
    word-wrap: break-word;
}

.autreCelebrite div img {
    width: 100%;
    height: 200px;
}

.autreCelebrite div h5 {
    color: red;
}

/****************************international************************************************/
.international {
    margin: 0 auto;
    width: 95%;
}

.international h3,
h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.intertTitre {
    background-color: red;
    padding: 5px;
    color: white;
}

.international_Contenaire {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.international_Contenaire1 {
    flex-basis: 53%;
    text-align: center;
    background-image: url("album/portrait-gai-heureux-homme-africain-dans-lunettes-pointage_171337-7791.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.international_Contenaire1 p {
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.international_Contenaire1 h4 {
    padding-top: 150px;
}

.international_Contenaire2 {
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.international_Contenaire2 div {
    flex-basis: 47%;
    margin: 0 auto;
    margin-top: 5px;
    background-color: red;
    color: white;
    word-wrap: break-word;
}

.international_Contenaire2 div img {
    width: 100%;
    height: 200px;
}

.international_Contenaire2 div p {
    width: 90%;
    padding-left: 15px;
}

.international_Contenaire2 div h5 {
    text-transform: uppercase;
    padding-left: 15px;
}

/**************************************************musique*********************************************/
.musique {
    margin: 0 auto;
    width: 95%;
}

.musique h3,
h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.musique h3 {
    text-align: left;
    color: black;
}

.intertTitre {
    background-color: red;
    padding: 5px;
    color: white;
}

.musique_Contenaire {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.musique_Contenaire1 {
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.musique_Contenaire1 div {
    flex-basis: 47%;
    margin: 0 auto;
    margin-top: 5px;
    background-color: red;
    color: white;
    word-wrap: break-word;
}

.musique_Contenaire1 div img {
    width: 100%;
    height: 200px;
}

.musique_Contenaire1 div p {
    width: 90%;
    padding-left: 15px;
}

.musique_Contenaire1 div h5 {
    text-transform: uppercase;
    padding-left: 15px;
}


.musique_Contenaire2 {
    flex-basis: 53%;
    text-align: center;
    background-image: url("album/portrait-gai-heureux-homme-africain-dans-lunettes-pointage_171337-7791.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.musique_Contenaire2 p {
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.musique_Contenaire2 h4 {
    padding-top: 150px;
}

/**********************************gospel***************************************/
.gospel {
    margin: 0 auto;
    width: 95%;
    margin-top: 50px;
}

.gospel h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.gospelTitre {
    background-color: red;
    padding: 5px;
    color: white;
}

.gospelContenaire {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gospelContenaire div {
    flex-basis: 32%;
    margin-top: 10px;
    background-color: black;
    color: white;
}

.gospelContenaire div img {
    width: 100%;
    height: 250px;
}

.gospelContenaire div p {
    padding-left: 15px;
    width: 70%;
}

.gospelContenaire div h5 {
    padding-left: 15px;
    text-transform: uppercase;
}

.gospa {
    background-color: red;
    color: white;
    padding: 5px;
}

/**************************************sport*****************************/
.sport {
    margin: 0 auto;
    margin-top: 100px;
    background-color: black;
}

.sport h3 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 50px;
}

.sport h6 {
    text-align: center;
    color: red;
}

.sport_contenaire {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.sport_contenaire div {
    flex-basis: 32%;
    flex-basis: 30%;
    background-color: white;
    margin-top: 25px;
    box-sizing: content-box;
    overflow: hidden;
}

.sport_contenaire div img {
    width: 100%;
    height: 250px;
    /* filter: grayscale(10);*/
}

.sport_contenaire div p {
    padding-left: 15px;
    word-wrap: break-word;
    width: 70%;
}

.sport_contenaire div h5 {
    padding-left: 15px;
    text-transform: uppercase;
}

.titreSport {
    background-color: red;
    padding: 5px;
    color: white;
}

/*************************************actualité******************/
.actualite {
    margin: auto;
    width: 95%;
}

.actualite h3 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}

.actu {
    border-bottom: 5px solid red;
}

.contenaire_actualite {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenaire_actualite div {
    flex-basis: 45%;
    margin-top: 30px;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: 0px 0px 15px gainsboro;
    padding-bottom: 15px;
}

.contenaire_actualite div img {
    width: 100%;
    height: 300px;
}

.contenaire_actualite div p {
    padding-left: 15px;
}

.contenaire_actualite div .actuLink {
    text-align: right;
    padding-right: 15px;
}

.contenaire_actualite div a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: red;
    padding: 5px;
    transition: ease-in-out 0.5s;
}

.contenaire_actualite div a:hover {
    background-color: inherit;
    color: red;
    border: 2px solid red;
}

/************************************foolter****************************/
footer {
    margin-top: 150px;
    background-color: black;
    color: white;
    padding-bottom: 20px;
}

.contenaire_footer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenaire_footer div {
    margin-top: 30px;
    flex-basis: 30%;
}

.contenaire_footer div a {
    text-decoration: none;
    color: white;
}

.contenaire_footer div h5 {
    color: red;
    text-transform: uppercase;
    font-size: 25px;
}

.contenaire_footer div ul {
    list-style-type: none;
}
.concept{
    color: white;
    text-align: right;
    padding-right: 30px;
    color: red;
    font-size: small;
}













@media screen and (max-width:1100px) {
    .sectionBox div {
        flex-basis: 46%;
    }
}

@media screen and (max-width:755px) {
    header .headerBox1 div {
        flex-basis: 100%;
    }

    .headerBox1_icon {
        display: none;
    }

    .headerBox1_icon_recherche {
        display: none;
    }

    .open_menu {
        display: block;
    }

    .headerBox2 {
        display: none;
    }


    .splide__slide div {
        flex-basis: 100%;

    }

    .main_contenu {
        padding: 50px;
    }

    .main_contenu h2 {
        color: white;
        font-size: 42px;
        padding-top: 0px;
    }

    .main_contenu p {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 50px;
    }

    .sectionBox div {
        flex-basis: 95%;
        margin: auto;
        margin-top: 70px;
    }

    .sectionBox_child div {
        flex-basis: 100%;
        margin: auto;

    }

    .sectionBox_child div img {
        height: 250px;
    }

    .sectionBox_child_fondBlack {
        position: relative;
        bottom: 5px;
    }

    article div {
        flex-basis: 100%;
    }

    .videoTendanceBox1 {
        flex-basis: 100%;
    }

    .videoTendanceBox2 {
        flex-basis: 100%;
    }

    .celebrite_contenaire1 {
        width: 100%;
    }

    .celebrite_contenaire1_Box1 {
        flex-basis: 100%;
    }

    .celebrite_contenaire1_Box2 {
        flex-basis: 100%;
    }

    .autreCelebrite div {
        flex-basis: 80%;
    }

    .international_Contenaire1 {
        flex-basis: 100%;
    }

    .international_Contenaire2 {
        flex-basis: 100%;
    }

    .international_Contenaire2 div {
        flex-basis: 48%;
    }

    .musique_Contenaire1 {
        flex-basis: 100%;
    }

    .musique_Contenaire1 div {
        flex-basis: 48%;
    }

    .musique_Contenaire2 {
        flex-basis: 100%;
        margin: 5px;
    }

    .gospelContenaire div {
        flex-basis: 100%;
    }

    .sport_contenaire div {
        flex-basis: 90%;
    }

    .contenaire_actualite div {
        flex-basis: 100%;
    }

    .contenaire_footer div {
        flex-basis: 100%;
    }
}

@media screen and (max-width:500px) {
    header .headerBox1 div {
        flex-basis: 100%;
    }

    .instagramme {
        position: relative;
        left: 0%;
    }

    .youtube {
        position: relative;
        left: 0%;
    }


}