body {
    margin: auto;
    padding: 0 auto;
    background-color: white;
    color: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;

}

header {
    padding: 0 auto;
}

header .headerBox1 {
    margin: auto;
    background-color: #de0000;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .headerBox1 div {
    flex-basis: 30%;
    padding: 5px;
}

.headerBox1_icon ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;

}

.headerBox1_icon ul li a {
    text-decoration: none;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    transition: ease-in-out 0.5s;

}

.headerBox1_icon ul li a:hover {
    padding: 7px;
}

.instagramme {
    position: relative;
    left: 3%;
}

.youtube {
    position: relative;
    left: 5%;
}

.tiktok {
    position: relative;
    left: 7%;
}

.treuds {
    position: relative;
    left: 10%;
}

.twiter {
    position: relative;
    left: 12%;
}

.headerBox1_titre {
    text-align: center;
}

.headerBox1_titre h1 {
    color: white;
}

.headerBox1_icon_recherche p {
    text-align: right;
    padding-right: 20px;
}

.headerBox1_icon_recherche p a {
    text-decoration: none;
}

header .headerBox2 {
    text-align: center;
    padding: 2px;

}

header .headerBox2 ul {
    text-align: center;
    list-style-type: none;
}

header .headerBox2 ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

header .headerBox2 ul li a {
    text-decoration: none;
    background-color: #1a1a1a;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    transition: ease-in-out all 0.5s;
}

header .headerBox2 ul li a:hover {
    background-color: white;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    font-weight: bold;
}

.open_menu {
    cursor: pointer;
    padding: 20px;
    transition: ease 0.5s;
    display: none;
}

.close_menu_js_effet {
    display: none;
    transition: 0.5s;
}

nav {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: #de0000;
    z-index: 1;
    transition: ease-in-out 0.5s;
}

.navbarr_Js {
    left: 0px;
    transition: ease-in-out 0.5s;
}

nav ul {
    padding-top: 40px;
    position: relative;
    right: 25px;
}

nav ul li {
    list-style-type: none;
    padding-top: 30px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out 0.5s
}

nav ul li a:hover {
    letter-spacing: 5px;
}

.close_menu {
    cursor: pointer;
    float: right;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 30px;
    transition: ease 0.5s;
}

.close_menu:hover {
    font-size: 35px;
    transition: ease 0.5s;
}

/*********************************************************************************************************/
main {
    margin: auto;
    padding: 0 auto;
    /*  background-color: gray;
    background-color: #317db1;*/
    /*background-color: #1a1a1a;*/
}

.splide__slide {
    padding: 0 auto;
}

.splide_bloc {
    padding: 50px;
    word-wrap: break-word;
}

.splide__slide h2 {
    font-size: 60px;
    color: white;
}

.splide__slide p {
    font-size: 20px;
    color: white;
}

#splide1 {
    background-image: url("https://pepelenews.wordpress.com/wp-content/uploads/2023/12/img_1725.jpeg?w=656&h=300&crop=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#splide2 {
    background-image: url("https://plus.unsplash.com/premium_photo-1695449439526-9cebdbfa1a2c?q=80&w=2009&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#splide3 {
    background-image: url("https://www.musicinafrica.net/sites/default/files/styles/article_slider_large/public/images/article/202405/mikekalambay1.jpg?itok=r74O-bXA");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#splide4 {
    background-image: url("https://mbote.cd/app/uploads/2017/06/General-Kanyama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#splide5 {
    background-image: url("https://actualite.cd/sites/default/files/styles/800_600/public/2024-04/WhatsApp%20Image%202024-04-01%20at%2020.47.59.jpeg?itok=1Xdyexga");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#splide6 {
    background-image: url("https://cdnuploads.aa.com.tr/uploads/Contents/2024/06/22/thumbs_b_c_a6f73317ac1a196c63f331dc95470ff3.jpg?v=125353");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/****************************************section******************************************/
section {
    /* border: 1px solid gray;*/
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
}

section h3 {
    font-weight: bold;
    font-size: 30px;
}

.sectionBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sectionBox div {
    flex-basis: 33%;
}

.sectionBox_child {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sectionBox_child div {
    flex-basis: 42%;
    box-sizing: content-box;
}

.sectionBox_child_fondRed {
    background-color: #de0000;
    padding: 8px;
}

.sectionBox_child_fondBlack {
    background-color: #1a1a1a;
    padding: 8px;
    margin-bottom: 0px;
}

.sectionBox_child div img {
    width: 100%;
    height: 100%;
}

.sectionBox_child div p {
    width: 80%;
    color: white;
    font-style: oblique;
}

/*******************************************************/
article {
    margin: 0 auto;
    margin-top: 100px;
    width: 92%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article div {
    flex-basis: 33%;
}

.articleBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articleBox div {
    flex-basis: 100%;
    padding: 10px;
}

.articleBoxchils1 {
    background-image: url("album/africaine.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.articleBoxchils2 {
    background-image: url("album/femme.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

}

.articleBoxchils3 {
    background-image: url("album/images.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

}

.articleBox div p {
    color: white;
    padding-top: 100px;
    width: 50%;
}

.articleBox div h5 {
    text-transform: uppercase;
    font-size: 17px;
    color: white;
}

.texteDecor {
    background-color: #de0000;
    padding: 5px;
}

.articleBox div ul {
    list-style-type: none;
    position: relative;
    right: 50px;
}

.articleBox div ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}

.articleBox div ul li a {
    text-decoration: none;
}

/*****************************************************videoTendance*********************/
.videoTendance {
    margin: auto;
    width: 95%;
}

.videoTendance h3 {
    font-size: 30px;
}

.videoTendanceBox {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.videoTendanceBox div {
    box-sizing: content-box;
    overflow: hidden;
    word-wrap: break-word;
}

.videoTendanceBox1 {
    background-color: #de0000;
    flex-basis: 52%;
    padding: 10px;
}

.videoTendanceBox1 {
    text-align: center;
}

.videoTendanceBox1 video {
    width: 100%;
}

.videoTendanceBox1 p {
    text-align: left;
    color: white;
    font-style: oblique;
    font-weight: bold;
}

.videoTendanceBox2 {
    background-color: #1a1a1a;
    flex-basis: 40%;
    padding: 10px;
}

.videoTendanceBox2_contenaire {
    display: flex;
    justify-content: center;
}

.videoTendanceBox2_contenaire div {
    flex-basis: 50%;
    box-sizing: content-box;
    overflow: hidden;
}

.videoTendanceBox2_contenaire div video {
    width: 90%;
    height: 100%;
}

.videoTendanceBox2_contenaire div h6 {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.videoTendanceBox2_contenaire div p {
    color: white;
    font-style: oblique;
    font-size: medium;
}

/****************************************************celebrités****************************************/
.celebrite {
    margin: 0 auto;
    width: 95%;
    color: black;
}

.celebrite h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.celebrite_contenaire1 {
    margin: 0 auto;
    width: 94%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.celebrite_contenaire1 div {
    box-sizing: content-box;
    overflow: hidden;
    word-wrap: break-word;
}

.celebrite_contenaire1 div img {
    width: 100%;
    height: 450px;
}

.celebrite_contenaire1_Box1 {
    flex-basis: 65%;
}

.celebrite_contenaire1_Box1_h5 {
    background-color: #de0000;
    color: white;
    padding: 4px;
    text-transform: uppercase;

}

.celebrite_contenaire1_Box1 a {
    text-decoration: none;
    color: black;
}

.celebrite_contenaire1_Box2 {
    flex-basis: 30%;
    text-align: center;
}

.celebrite_contenaire1_Box2_h5 {
    background-color: #de0000;
    color: white;
    padding: 4px;
    text-transform: uppercase;
}

.celebrite_contenaire1_Box2 a {
    text-decoration: none;
    color: black;
}

/*******************************autre célébrité**********************************************/
.autreCelebrite {
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.autreCelebrite div {
    flex-basis: 18%;
    box-sizing: content-box;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
    transition: ease-in-out 0.5s;
}

.autreCelebrite div:hover {
    box-shadow: 0px 0px 5px gainsboro;
}

.autreCelebrite div p {
    width: 90%;
    text-align: center;
    word-wrap: break-word;
}

.autreCelebrite div img {
    width: 100%;
    height: 200px;
}

.autreCelebrite div a {
    color: #1a1a1a;
    text-decoration: none;
}

.autreCelDAte {
    color: white;
    background-color: #de0000;
    padding: 3px;
    text-transform: uppercase;
}

/****************************international************************************************/
.international {
    margin: 0 auto;
    width: 95%;
}

.international h3,
h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.intertTitre {
    background-color: #de0000;
    padding: 5px;
    color: white;
}

.international_Contenaire {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.international_Contenaire1 {
    flex-basis: 53%;
    text-align: center;
    background-image: url("album/portrait-gai-heureux-homme-africain-dans-lunettes-pointage_171337-7791.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.international_Contenaire1 p {
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.international_Contenaire1 h4 {
    padding-top: 580px;
}

.international_Contenaire2 {
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.international_Contenaire2 div {
    flex-basis: 47%;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #de0000;
    color: white;
    word-wrap: break-word;
}

.international_Contenaire2 div img {
    width: 100%;
    height: 200px;
}

.international_Contenaire2 div p {
    width: 90%;
    padding-left: 15px;
}

.international_Contenaire2 div p a {
    text-decoration: none;
    background-color: white;
    text-transform: uppercase;
    color: #de0000;
    padding: 4px;
    transition: ease-in-out 0.5s;
}

.international_Contenaire2 div p a:hover {
    letter-spacing: 2px;
    border: 1px solid #de0000;
}

.international_Contenaire2 div h5 {
    text-transform: uppercase;
    padding-left: 15px;
}

/**************************************************musique*********************************************/
.musique {
    margin: 0 auto;
    width: 95%;
}

.musique h3,
h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.musique h3 {
    text-align: left;
    color: black;
}

.intertTitre {
    background-color: #de0000;
    padding: 5px;
    color: white;
}

.musique_Contenaire {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.musique_Contenaire1 {
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.musique_Contenaire1 div {
    flex-basis: 47%;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #de0000;
    color: white;
    word-wrap: break-word;
}

.musique_Contenaire1 div img {
    width: 100%;
    height: 200px;
}

.musique_Contenaire1 div p {
    width: 90%;
    padding-left: 15px;
}

.musique_Contenaire1 div p a {
    text-decoration: none;
    background-color: white;
    color: #de0000;
    padding: 4px;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
}

.musique_Contenaire1 div p a:hover {
    letter-spacing: 2px;
    border: 1px solid #de0000;
}

.musique_Contenaire1 div h5 {
    text-transform: uppercase;
    padding-left: 15px;
}


.musique_Contenaire2 {
    flex-basis: 53%;
    text-align: center;
    background-image: url("album/portrait-gai-heureux-homme-africain-dans-lunettes-pointage_171337-7791.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.musique_Contenaire2 p {
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.musique_Contenaire2 h4 {
    padding-top: 580px;
}

/**********************************gospel***************************************/
.gospel {
    margin: 0 auto;
    width: 95%;
    margin-top: 50px;
}

.gospel h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.gospelTitre {
    background-color: #de0000;
    padding: 5px;
    color: white;
}

.gospelContenaire {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gospelContenaire div {
    flex-basis: 32%;
    margin-top: 10px;
    background-color: #1a1a1a;
    color: white;
}

.gospelContenaire div img {
    width: 100%;
    height: 250px;
}

.gospelContenaire div p {
    padding-left: 15px;
    width: 70%;
}

.gospelContenaire div h5 {
    padding-left: 15px;
    text-transform: uppercase;
}

.gospa {
    background-color: #de0000;
    color: white;
    padding: 5px;
}

.gospelContenaire div p a {
    text-decoration: none;
    color: white;
    background-color: white;
    color: #1a1a1a;
    padding: 4px;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
}

.gospelContenaire div p a:hover {
    letter-spacing: 2px;
}


/**************************************sport*****************************/
.sport {
    margin: 0 auto;
    margin-top: 100px;
    background-color: #1a1a1a;
}

.sport h3 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 50px;
}

.sport h6 {
    text-align: center;
    color: red;
}

.sport_contenaire {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.sport_contenaire div {
    flex-basis: 32%;
    flex-basis: 30%;
    background-color: white;
    margin-top: 25px;
    box-sizing: content-box;
    overflow: hidden;
}

.sport_contenaire div img {
    width: 100%;
    height: 250px;
    /* filter: grayscale(10);*/
}

.sport_contenaire div p {
    padding-left: 15px;
    word-wrap: break-word;
    width: 70%;
}

.sport_contenaire div p a {
    border: 1px solid #1a1a1a;
    font-size: small;
    color: #1a1a1a;
    text-decoration: none;
    padding: 4px;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
}

.sport_contenaire div p a:hover {
    border: none;
    background-color: #1a1a1a;
    color: white;
}

.sport_contenaire div h5 {
    padding-left: 15px;
    text-transform: uppercase;
}

.titreSport {
    background-color: #de0000;
    padding: 5px;
    color: white;
}

/*************************************actualité******************/
.actualite {
    margin: auto;
    width: 95%;
}

.actualite h3 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}

.actu {
    border-bottom: 5px solid red;
}

.contenaire_actualite {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenaire_actualite div {
    flex-basis: 45%;
    margin-top: 30px;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: 0px 0px 15px gainsboro;
    padding-bottom: 15px;
}

.contenaire_actualite div img {
    width: 100%;
    height: 300px;
}

.contenaire_actualite div p {
    padding-left: 15px;
}

.contenaire_actualite div .actuLink {
    text-align: right;
    padding-right: 15px;
}

.contenaire_actualite div a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #de0000;
    padding: 5px;
    transition: ease-in-out 0.5s;
}

.contenaire_actualite div a:hover {
    background-color: inherit;
    color: red;
    border: 2px solid red;
}

/************************************footer****************************/
footer {
    margin-top: 150px;
    background-color: #1a1a1a;
    color: white;
    padding-bottom: 20px;
}

.contenaire_footer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenaire_footer div {
    margin-top: 30px;
    flex-basis: 30%;
}

.contenaire_footer div img {
    width: 350px;
}

.nomBanaKongo {
    font-weight: bold;
}

.contenaire_footer div a {
    text-decoration: none;
    color: white;

}

.contenaire_footer div a:hover {
    font-weight: bold;
    transition: 0.5s;
}

.contenaire_footer div h5 {
    color: red;
    text-transform: uppercase;
    font-size: 25px;
}

.contenaire_footer div h5 a {
    color: red;
}

.contenaire_footer div ul {
    list-style-type: none;
}

.footer_Link {
    text-align: center;
    list-style-type: none;
    padding-top: 50px;
}

.footer_Link li {
    display: inline-block;
    padding: 5px;
}

.footer_Link li a {
    text-decoration: none;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
    transition: ease-in-out 0.5s;
}

.footer_Link li a:hover {
    padding: 7px;
}

.concept {
    text-align: center;
    text-align: right;
    padding-right: 15px;
    color: white;
    font-size: small;
}

@media screen and (max-width:1100px) {
    .sectionBox div {
        flex-basis: 46%;
    }
}

@media screen and (max-width:755px) {
    header .headerBox1 div {
        flex-basis: 100%;
    }

    .headerBox1_icon {
        display: none;
    }

    .headerBox1_icon_recherche {
        display: none;
    }

    .open_menu {
        display: block;
    }

    .headerBox2 {
        display: none;
    }

    .splide_bloc {
        padding: 20px;
    }

    .sectionBox div {
        flex-basis: 95%;
        margin: auto;
        margin-top: 50px;
    }

    .sectionBox_child div {
        flex-basis: 100%;
        margin: auto;
        margin-top: 0px;

    }

    .sectionBox_child div img {
        height: 250px;
    }

    .sectionBox_child_fondBlack {
        position: relative;
        bottom: 10px;
    }

    article div {
        flex-basis: 100%;
    }

    .videoTendance {
        margin: auto;
        width: 100%;
    }

    .videoTendance h3 {
        padding-left: 10px;
    }

    .videoTendanceBox1 {
        flex-basis: 100%;
    }

    .videoTendanceBox2 {
        flex-basis: 100%;
    }

    .celebrite_contenaire1 {
        width: 100%;
    }

    .celebrite_contenaire1_Box1 {
        flex-basis: 100%;
    }

    .celebrite_contenaire1_Box2 {
        flex-basis: 100%;
    }

    .autreCelebrite div {
        flex-basis: 80%;
    }

    .international_Contenaire1 {
        flex-basis: 100%;
        height: 500px;
    }

    .international_Contenaire1 h4 {
        padding-top: 250px;
    }

    .international_Contenaire2 {
        flex-basis: 100%;
    }

    .international_Contenaire2 div {
        flex-basis: 100%;
    }

    .musique_Contenaire1 {
        flex-basis: 100%;
    }

    .musique_Contenaire1 div {
        flex-basis: 98%;
    }

    .musique_Contenaire2 {
        flex-basis: 100%;
        height: 500px;
        margin: 5px;
    }

    .musique_Contenaire2 h4 {
        padding-top: 200px;
    }

    .gospelContenaire div {
        flex-basis: 100%;
    }

    .sport_contenaire div {
        flex-basis: 90%;
    }

    .contenaire_actualite div {
        flex-basis: 100%;
    }

    .contenaire_footer div {
        flex-basis: 100%;
    }
}

@media screen and (max-width:500px) {
    header .headerBox1 div {
        flex-basis: 100%;
    }

    .instagramme {
        position: relative;
        left: 0%;
    }

    .youtube {
        position: relative;
        left: 0%;
    }


}